* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #000011;
    font-family: 'Space Mono',monospace;
    color: white;
    overflow: hidden;
}

.top-info-container {
    top: 60px;
    z-index: 1;
    position: absolute;
    text-align: center;
    width: 100%;
}

.title {
    font-size: 35px;
    color: #e6f1ff;
}

.title-desc {
    margin-top: 5px;
    color: #ccd6f6;
    padding: 0 40px;
}

#script-container {
    display: flex;
}

#globeViz {
    display: flex;
    margin-bottom: 0;
}

#stats-container {
    z-index: 1;
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 100px;
}

footer {
    z-index: 1;
    position: absolute;
    text-align: center;
    bottom: 50px;
    width: 100%;
}
    