body {
    background-color: #000011;
}

.search-container {
    display: flex;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

#search-bar {
    position: relative;
    width: 50%;
    height: 25px;
    border-radius: 10px;
}

footer {
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}
